{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 m-auto">
    <h3 style="text-align: center;">Editar jogo:</h3>
    <form action="{{url_for('edit', id=game.id)}}" method="POST">
      <input type="text" name="title" class="form-control" value="{{game.title}}" required />
      <input type="number" name="year" class="form-control" value="{{game.year}}" required />
      <input type="text" name="category" class="form-control" value="{{game.category}}" required />
      <input type="text" name="platform" class="form-control" value="{{game.platform}}" required />
      <input type="number" name="price" class="form-control" value="{{game.price}}" required />
      <input type="number" name="quantity" class="form-control" value="{{game.quantity}}" required />
      <!-- Botão alterar -->
      <input type="submit" value="Alterar" class="btn btn-warning" />
      <!-- Botão cancelar -->
      <a href="{{url_for('estoque')}}">
        <input type="button" value="Cancelar" class="btn btn-danger" />
      </a>
    </form>
</div>
{% endblock content %}