{% extends 'base.html' %}
{% block content %}
<h2>Controle de estoque</h2>
<hr>
<details>
    <summary> Cadastrar jogo</summary>
    <div class="col-md-4">
        <form action="{{url_for('estoque')}}" method="POST"></form>
        <input type="text" name="title" placeholder="Título" class="form-control" required>
        <input type="number" name="year" placeholder="Ano" class="form-control" required>
        <input type="text" name="category" placeholder="Categoria" class="form-control" required>
        <input type="text" name="platform" placeholder="Plataforma" class="form-control" required>
        <input type="number" name="price" placeholder="Preço" class="form-control" required>
        <input type="number" name="quantity" placeholder="Quantidade" class="form-control" required>
        <input type="submit" value="Cadastrar" class="btn btn-success">
        <input type="reset" value="Limpar" class="btn btn-danger">
    </div>
</details>
<hr>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Título</th>
            <th>Ano</th>
            <th>Categoria</th>
            <th>Plataforma</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th colspan="2" style="text-align: center;">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for game in gameEstoque %}
        <tr>
            <td>{{game.title}}</td>
            <td>{{game.year}}</td>
            <td>{{game.category}}</td>
            <td>{{game.platform}}</td>
            <td>{{game.price}}</td>
            <td>{{game.quantity}}</td>
            <td><button class="btn btn-warning">Editar</button></td>
            <td><a href="{{url_for('estoque', game.id)}}"><button class="btn btn-danger">Excluir</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}