<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Games</title>
</head>
<body>
    <h2>Está é a página de jogos!</h2>
    <h3>Jogo em destque:</h3>
    <ul>
        <li>Título: <strong>{{title}}</strong></li>
        <li>Ano: <strong>{{year}}</strong></li>
        <li>Categoria: <strong>{{category}}</strong></li>
    </ul>
    <p>O jogo {{title}} tem {{2025-year}} anos.</p>

    {# Esse é um comentário em jinja2 #}

    {# iterar em uma lista #}
    <h3>Top players:</h3>
    <ol>
        {% for player in players %}
            <li>{{player}}</li>
        {% endfor %}
    </ol>

    <h4>Console mais bem avaliado:</h4>
    {# posso mudar o nome da chave e valor pro nome que eu quiser #}
    {% for key, value in console.items() %}
    <details>
        <summary>{{key}}</summary>
        <p>{{value}}</p> 
    </details>
    {% endfor %}
</body>
</html>