{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 m-auto bg-white p-3 rounded">
    <h3 style="text-align: center;">Editar filme:</h3><br>
    <form action="{{url_for('movieEdit', id=m.id)}}" method="POST">
        <input type="text" name="titulo" class="form-control" value="{{m.titulo}}" required>
        <input type="number" name="ano" value="{{m.ano}}" class="form-control" required>
        <input type="text" name="genero" value="{{m.genero}}" class="form-control" required>
        <input type="number" name="preco" value="{{m.preco}}" min=0 step="0.01" class="form-control" required>
        <input type="number" name="quantidade" value="{{m.quantidade}}" class="form-control" required>
        <select name="filmaker" class="form-select" required>
            {% for f in filmakers %}
                <option value="{{f.id}}" {% if (m.filmaker.id==f.id) %} selected {% endif %}>
                    {{f.nome}}
                </option>
            {% endfor %}
        </select>

        <a href="{{url_for('movieEdit', id=m.id)}}" onclick="return confirm('Confirma as alterações?')"><input
                type="submit" value="Alterar" class="btn btn-warning btn-sm action-btn"></a>
        <a href="{{url_for('moviesEstoque')}}"><input type="button" value="Cancelar" class="btn btn-danger btn-sm action-btn"></a>
    </form>
</div>
{% endblock content %}