{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
<div class="alert alert-{{category}}">
    {{message}}
</div>
{% endfor %}
{% endwith %}

<div class="container">
    <div class ="card mt-4">
        <div class="card-header">
            <h2>Cadastro de usuário</h2>
        </div>
        <div class="card-body">
            <form action="" method="POST">
                <label>username:</label>
                <input type="text" name="username" class="form-control" placeholder="Digite seu nome">
                <label>Senha:</label>
                <input type="password" name="password" class="form-control" placeholder="Digite sua senha">
                <br>
                <button type="submit" class="btn btn-danger w-100">Cadastrarr</button>
                <hr>
                <h6>Já possui conta? <a href="{{url_for('login')}}"> Login</a></h6>
            </form>
        </div>
    </div>
</div>
{% endblock content %}