{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
<div class="alert alert-{{category}}">
    {{message}}
</div>
{% endfor %}
{% endwith %}

<div class="container col-4">
    <div class ="card mt-4">
        <div class="card-body m-auto">
            <form action="" method="POST">
                <label>Username:</label>
                <input type="text" name="username" class="form-control" placeholder="Digite seu username">
                <label>Senha:</label>
                <input type="password" name="password" class="form-control" placeholder="Digite sua senha">
                <br>
                <button type="submit" class="btn btn-danger w-100">Entrar</button>
                <hr>
                <h6>não possui conta? <a href="{{url_for('caduser')}}"> Cadastre-se!</a></h6>
            </form>
        </div>
    </div>
</div>
{% endblock content %}