{% extends 'base.html' %}
{% block content %}

<div class="container" style="background-color: #f0f0f0; border-radius: 8px;">
    <div class="row">
        {% for game in gamesList %}
        <div class="col-md3 m-auto">
            <div class="card" style="width: 16rem;">
                <img src="{{game.thumbnail}}" alt="imagem do jogo">
                <div class="card-body">
                    <h5>{{game.title}}</h5>
                    <p>{{game.genre}}</p>
                    <p>{{game.platform}}</p>
                    <a href="{{url_for('apigames', id=game.id)}}" class="btn btn-dark">+ info</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}