{% extends 'base.html' %}
{% block content %}

<div class="container" style="background-color: #f0f0f0; border-radius: 8px;">
    <div class="row">
        <div class="col-md6 m-auto">
            <a href="{{url_for('apigames')}}" class="btn btn-dark"> voltar para página de jogos</a>
            <div class="card">
                <img src="{{game.thumbnail}}" alt="imagem do jogo">
                <div class="card-body m-auto">
                    <h5>{{game.title}}</h5>
                    <p>Gênero: {{game.genre}}</p>
                    <p>Descrição: {{game.short_description}}</p>
                    <p>Plataforma: {{game.platform}}</p>
                    <p>Editora: {{game.publisher}}</p>
                    <p>Editora: {{game.release_data}}</p>
                    <a href=".freetogame" class="btn btn-dark">jogar</a>
                </div>
            </div>
        </div>

{% endblock conten %}