{% extends 'base.html' %}
{% block content %}
    <h2>Controle de estoque - Jogos</h2><br>
    <details>
        <summary>[ Cadastrar novo jogo ]</summary>
            <div class="col-md-4">
                <form action="{{url_for('gamesEstoque')}}" method="POST">
                    <input type="text" name="titulo" placeholder="Título" class="form-control" required>
                    <input type="number" name="ano" placeholder="Ano" class="form-control" required>
                    <input type="text" name="categoria" placeholder="Categoria" class="form-control" required>
                    <input type="number" name="preco" placeholder="Preço" min=0 step="0.01" class="form-control" required>
                    <input type="number" name="quantidade" placeholder="Quantidade" class="form-control" required>

                    <br>
                    <select name="console_id" class="form-select" required>
                        <option value="" selected disabled>Selecione um console</option>
                        {% for console in consoles %}
                            <option value="{{console.id}}">{{console.nome}}</option>
                        {% endfor %}
                    </select>


                    <input type="submit" value="Cadastrar" class="btn btn-success">
                    <input type="reset" value="Limpar" class="btn btn-danger">
                </form>  
            </div>
    </details>
    <hr>
    <h5>Jogos em estoque:</h5><br>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th style="width: 50px;"></th>
                <th>Título:</th>
                <th>Ano:</th>
                <th>Categoria:</th>
                <th>Console:</th>
                <th>Preço:</th>
                <th>Quantidade:</th>
                <th style="text-align: center;" colspan="2">Ação:</th>
            </tr>
        </thead>
        <tbody>
        <!-- for g in gamesestoque -->
        {% for g in gamesestoque.items %}
            <tr>
                <td style="text-align: center;"><img src="{{url_for('static', filename='imgs/game-icon.png')}}" alt="Produto" width="40px"></td>
                <td>{{g.titulo}}</td>                
                <td>{{g.ano}}</td>
                <td>{{g.categoria}}</td>
                <td>{{g.console.nome}}</td>
                <td>{{g.preco}}</td>
                <td>{{g.quantidade}}</td>
                <td style="text-align: center; width: 130px;"><a class="btn btn-warning" href="{{url_for('gameEdit', id=g.id)}}">Editar</a></td>
                <td style="text-align: center; width: 130px;"><a class="btn btn-danger" href="{{url_for('gamesEstoque', id=g.id)}}" onclick="return confirm('Deseja mesmo excluir o jogo {{g.titulo}}?')">Excluir</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p style="text-align: center;">
        <!-- Se houver registros anteriores -->
        {% if gamesestoque.has_prev %}
            <a href="{{url_for('gamesEstoque', page=gamesestoque.prev_num)}}"><< Anterior</a>
        {% endif %}
        <!-- Se houver próximos registros -->
        {% if gamesestoque.has_next %}
            <a href="{{url_for('gamesEstoque', page=gamesestoque.next_num)}}">Próximo >></a>
    </p>
        {% endif %}
{% endblock content %}